:root {
  --primary: rgb(147, 184, 0);
  --header-bg: rgb(65, 71, 4);
  --bg: rgb(187, 223, 0);
  --card-bg: #000000;
  --text-dark: #2e2e2e;
  --accent: #c6d393;
  --result-bg: #000000;
  --result-text: #d7d7d7;
  --nav-bg: #000000;
  --nav-text: #c4c3c3;
  --nav-text-hover: #daff06;
  --prev-next-btns-bg: rgb(100, 101, 1);
  --prev-next-btns-text: #ffffff;
  --transition: 300ms cubic-bezier(0.22, 0.9, 0.3, 1);
}

name {
  font-weight: bold;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg);
  margin: 0;
  font-family: Arial, sans-serif;
  z-index: 10;
}

header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg);
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

img {
  margin: 0;
}

.hr1 {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  border: solid 2px rgb(147, 175, 15);
  width: 100%;
  margin: 0;
}

.main-container {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 60px 10px 150px 10px;
  overflow-y: auto;
  row-gap: 8px;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 12px;
  background-color: var(--card-bg);
  color: var(--text-dark);
  z-index: 20;
}

.result-card {
  display: flex;
  flex-direction: column;
  background-color: var(--result-bg);
  color: var(--result-text);
  padding: 12px;
}

label {
  display: block;
  padding: 2px;
  color: var(--accent);
  font-weight: bold;
  font-size: 14px;
}

select,
input[type="time"],
input[type="number"] {
  width: 100%;
  font-size: 16px;
  padding: 6px 0px 6px 0px;
  font-weight: bold;
  border: 1px solid #292c1f;
  border-radius: 4px;
  background-color: var(--card-bg);
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 8px;
}

.searchBtn {
  text-align: center;
  display: block;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0px 0px 5px #b2b2b2;
  cursor: pointer;
  transition: transform var(--transition);
}

.searchBtn:active {
  transform: scale(0.98);
  color: #5b5b30;
}

.pill {
  float: right;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.pill.sltb {
  background-color: #ef4444;
  color: #fff;
}

.pill.private {
  background-color: #10b981;
  color: #fff;
}

.nav-btns {
  display: flex;
  gap: 8px;
}

.btn-sm {
  flex: 1;
  padding: 6px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background-color: var(--prev-next-btns-bg);
  color: var(--prev-next-btns-text);
  box-shadow: 2px 2px 5px rgba(113, 113, 113, 0.722);
  margin: 2px;
  transition:
    margin 0.1s,
    box-shadow 0.1s,
    opacity 0.1s;
}

.btn-sm:active {
  opacity: 0.7;
  margin: 3px 0px 0px 3px;
  box-shadow: none;
}

.map-buttons {
  position: absolute;
  left: 12px;
  bottom: 110px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 999;
}

.map-buttons button {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background: var(--primary);
  border: 1px solid #ccc;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.map-buttons button.active {
  background: var(--primary);
  color: #121212;
}

.bus-sim-icon {
  background: var(--primary);
  color: #ffffff;
  padding: 6px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.685);
}

footer {
  font-size: 14px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

nav {
  display: flex;
  background-color: var(--nav-bg);
  color: var(--nav-text);
  justify-content: space-around;
}

nav div img {
  color: #6c6c6c;
  width: 25px;
}

nav div img:hover {
  color: #5ae1ff;
}

nav div {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

nav div:hover {
  color: var(--nav-text-hover);
}

.fullscreen .left-panel,
.fullscreen header {
  display: none !important;
}

.fullscreen .main-container {
  height: 100vh;
  width: 100vw;
}

.map-container {
  flex: 1;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  background-color: #c3e7f4;
}

.map-full-container,
.map-container {
  width: 100%;
  min-height: 100vh;
}

#map-full,
#map {
  width: 100%;
  height: 100℅;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

#map-page,
#saved-page,
#settings-page {
  background-color: rgb(35, 35, 35);
  color: #c3c3c3;
  min-height: 100vh;
}

.section-card div p {
  text-align: right;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
  margin-right: 15px;
}

.section-card {
  background-color: #000000;
  padding: 0.5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bus-stops {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: fill;
  padding: 7px;
  position: relative;
  margin-right: 14px;
  margin-top: 10px;
}

.stops-border {
  background-color: #00000000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-top: 2px dotted #ff3838;
  padding: 7px;
  position: fixed;
  top: 20px;
  right: 15px;
  animation: spin 4s linear infinite;
}

.cogwheel-2 {
  margin-left: -10px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: spin-reverse 1s linear infinite;
}

.cogwheel {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

.saved-title {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.user-loc i {
  color: #1e3a8a;
  font-size: 18px;
}

.route-short {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.08);
  padding: 2px 6px;
  border-radius: 4px;
}
